@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: -0.025em; */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 38px;;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 22px;
}
p, a {
  font-size: 20px;
}
button {
  font-size: 22px;
}
.bg-violet {
  background-color:  #7648FE;
 
} 

.bg-light-violet {
  background-color: #C7B4FF;
} 
.bg-extralight-violet {
  background-color: #F9F7FF;
} 

.border-light-violet {
  border-color: #C7B4FF;
}
.bg-green {
  background-color: #87F2C1;
} 
.bg-orange {
  background-color: #FFB34B;
} 
.bg-red {
  background-color: #FD7F7F;
} 


input[type="radio"],input[type="checkbox"] {
  min-width: 26px;
  min-height: 26px;
}

.steps-rows {
  grid-template-rows: 1fr 2fr;
  gap: 1rem;
}
.fixed-cont {
  position: sticky;
  top: 20px;
  bottom: 2.75rem;
}
.fixed-transition {
  transition: top 2s linear, left 2s linear;
}
@media only screen and (max-width: 600px) {
  p,a {
    font-size: 12px;
  }
  button {
    font-size: medium;
  }
  h1 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  img .option-icon {
    width: 20px;
    height: 20px;
  }
  input[type="radio"],input[type="checkbox"] {
    min-width: 16px;
    min-height: 16px;
  }
}

